 *{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Oswald', monospace;
    color: rgb(38, 41, 38);
}

body {
    overflow: hidden;
}

section {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: white;
    overflow: hidden
}

.refresh {
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    font-size: 1vw;
    color: black;
    font-family: 'Roboto Mono';
    z-index: 10;
    padding: 1vw;
    border-bottom-right-radius: 15px;
    border: 1px dashed black;
    border-top: none;
    border-left: none;
    cursor: pointer;
    text-decoration: none
}

#page-1 {
    background-image: url('./../media/images/pattern-1.png');
    background-size: 300px;
    position: relative;
}

.overlay-image {
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: .5;
    background-image: url('./../media/images/pattern-2.png');
    background-size: 200px;
    width: 100vw;
    height: 100vh;
    background-repeat: repeat;
    z-index: 0;
}

#front-title {
    position: relative;
    text-align: center;
    font-size: 4vw;
    margin-top: 30vh;
    font-family: 'Oswald';
    z-index: 500;
    color: black;
    background-image: url('./../media/images/leaf.png');
    background-size: 10vw;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 5vw
}

.bg-text-center {
    position: relative;
    text-align: center;
    font-size: 2vw;
    margin-top: 5vh;
    font-family: 'Oswald';
    z-index: 500;
    color: black;
    padding: 10vw;
    font-weight: bold;
    padding-top: 0
}

@keyframes title {
    0%,100% {
        background: -webkit-linear-gradient(left, blue, darkblue);
        
    }
    50% {
        background: -webkit-linear-gradient(left, rgb(60, 77, 131), blue)
    }
}

.pg-title {
    font-family: 'Oswald';
    color: #23434B;
    font-size: 2.5vw;
    font-weight: 800

    
}


.img-qoute-cont {
    display: inline-block;
    position: relative;
    vertical-align: bottom;
    bottom: 0;
    margin: 0 2.5vw;
    display: inline-block
}


#celeb-jp {
    margin-left: 0
}

.qoute {
    position: relative;
    top: 12vw;
    left: 12vw;
    height: 10vw;
    width: 16vw;
    padding-top: 1vw;
    opacity: 0;
    font-size: 1.2vw;
    line-height: 1.4vw;
    font-family: 'Oswald';
    background-image: url(https://vignette.wikia.nocookie.net/animal-jam-clans-1/images/4/42/Quote_Sign_2.png/revision/latest?cb=20160922052924);
    background-size: auto 100%;
    background-position: center top;
    background-repeat: no-repeat
}

.qoute-visible {
    animation: qoute-animation .5s forwards
}

.qoute-name {
    font-family: 'EB Garamond';
    font-size: .8em
}

@keyframes qoute-animation {
    0% {
        font-size: 1.2vw;
        opacity: 0;
    }
    100% {
        font-size: 1.2vw;
        opacity: 1;
    }
}

.pop-cont {
    position: absolute;
    bottom: 0;
    height: 15vw;
    z-index: 5
}

.pop-img {
    height: 15vw;
    
}

.img-qoute-cont:hover {
    animation: imageUp .8s forwards
}

@keyframes imageUp {
    0% {
        bottom: 0vw
    }
    50% {
        bottom: 10vw;
    }
    100% {
        bottom: 8vw
    }
}

.content-cont {
    margin: 5vh 10vw 0vh;
    position: relative;
}


.placeholder {
    opacity: 0
}

#underline {
    width: 50vw;
    margin-left: 25vw;
    height: 15px;
    background-color: #23434B;
    position: relative;
    top: -22px;
    z-index: -1
}

#page-one-link, .button-link {
    display: inline-block;
    text-decoration: none;
    padding: 4px 8px;
    border: 1px black solid;
    border-radius: 5px;
    margin-top: 20vh;
    background-color: transparent;
    opacity: 0;
    font-size: .8em;
    font-family: 'Roboto Mono';
}

.pg-2-link {
    margin-left: 45vw !important;
    visibility: hidden;
}

.loading-bar {
    position: relative;
    margin-top: 40vh;
    margin-left: 45vw;
    height: 5px;
    width: 120px;
    border: 1px solid black;
}

.loading-stat {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 0%;
    height: 100%;
    background-color: black;
    animation: loading 4s 6 forwards;    
}

@keyframes loading {
    0% {
        width: 0%
    }
    100% {
        width: 100%
    }
}

#page-one-link:hover {
    background-color: rgba(255, 255, 255, .2)
}

@keyframes button {
    0% {
        opacity: 1;
        background-color: rgba(255, 255, 255, .8)
    } 
    100% {
        opacity: 1;
        background-color: rgba(255, 255, 255, 1)
    }
}

.fa-angle-down {
    color: rgba(0, 0, 0, 0.933);
    margin-top: 4px;
    animation: bounce 1s infinite;
}

#animation-cont {
    opacity: 0;
}

@keyframes bounce {
    0%,100% {
        margin-top: 4px
    } 
    50% {
        margin-top: 10px
    }
}

.front-text {
    font-family: 'Oswald';
    width: 50vw;
    margin: 15px;
    display: inline-block;
    text-align: center;
    z-index: 500;
}

.body-text {
    display: none;
    position: relative;
    font-size: 1.5vw;
    font-weight: 200;
    margin: 2vw 0;
    z-index: 500;
    padding: 2vw;
    background-color: rgba(255, 255, 255, .95);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 2px solid #23434B;
    border-left: 1vw solid #23434B
}

.icon {
    display: inline;
    height: 2vw
}

.intro-list {
    margin: 2vw;
}

.intro-list > li {
    margin-top: 2vw
}

.fa-spa {
    font-size: .8vw;
    display: inline-block;
    padding-bottom: 1vw
}

.intro-text {
    font-size: 2vw;
    color: #23434B;
    font-family: 'Oswald';
    border-radius: 2px
}

.first-letter {
    font-size: 2vw;
    font-weight: 800
}

.button-link {
    position: relative;
    opacity: 1;
    display: block;
    text-align: center;
    width: 10vw;
    margin-left: 35vw;
    font-size: .8em;
    z-index: 1000;
    cursor: pointer;
}

.sentence-highlight {

}

.fade-in {
    animation: in 2s forwards 3.5s;
    z-index: 5000;
}

@keyframes in {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}


#nav {
    position: fixed;
    right: 5vw;
    top: 30vh;
    width: 30px;
    height: auto;
    border-radius: 15px;
    text-align: center;
    background-color: transparent;
    padding-top: 10px;
    z-index: 500;
}

.page {
    display: inline-block;
    margin: 2px 8px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid black
}

.current-page {
    animation: page 1s forwards
}

.alert {
    display: none;
    color: red;
    padding: 2px 6px;
    border-radius: 5px
}

.display {
    display: inline-block;
}

@keyframes page {
    0% {
        background-color: rgb(211, 209, 209)
    }
    100% {
        background-color: black
    }
}

.line {
    width: 1px;
    height: 50px;
    display: inline-block;
    background-color: black;
    margin: 0 8px
}

#page-0 {
    background:
        linear-gradient(
            rgba(255, 255, 255, 1),
            rgba(255, 255, 255, .95)
        ), 
        url(https://78.media.tumblr.com/24016669b2d5c08d1cc946affdb4a576/tumblr_owl3eblvHq1upvbufo1_540.gif) no-repeat center center;
    background-size: cover;
    text-align: center;
    position: relative;
    background-attachment: fixed;
    background-position: relative;
    background-repeat: no-repeat;
}

.cover-image {
    position: absolute;
    bottom: 0;
    left: 5vh;
    z-index: 0;
    width: 30vh
}

section:nth-child(2) {
    background-color: rgb(221, 221, 221);
}

.next {
    cursor: pointer;
    text-decoration: none;
    color: #23434B;
    background-color: transparent;
    padding: 2px 6px;
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom-left-radius: 5px; 
    border-top-right-radius: 5px;
    border-top: 1px dashed gray;
    border-right: 1px dashed gray;
    font-family: 'Roboto Mono';
    font-weight: 200
}

.next:hover {
    animation: nextButton .5s forwards;
}

@keyframes nextButton {
    0% {
        font-weight: 200
    }
    100% {
        font-weight: 800
    }
}

.answer-box, .options {
    width: 70vw;
    height: 20vh;
    border: 1px solid black;
    border-radius: 5px;
    margin: 30px;
    margin-left:10vw;
    position: relative;
}

.options {
    border: none;
    border-radius: 5px;
    border: 1px dashed gray
}

.title {
    display: inline-block;
    width: 90%;
    font-family: 'Roboto Mono'
}

.highlight { 
    animation: shadow .5s forwards;
    border: 1px solid #23434B
}

@keyframes expand {
    0% {
        width: 200px;
        height: 30px;
        padding-top: 4px;
        }
    50% {
        width: 220px;
        height: 35px;
        padding-top: 5px;
    }
    100% {
        width: 210px;
        height: 32px;
        border-left: 3px solid #5B7B83;
    }
}

@keyframes shadow {
    0% {
        box-shadow: 0px 0px 0px rgb(126, 128, 126); 
    } 
    100% {
        box-shadow: 0px 1px 3px rgb(126, 128, 126);
        border-bottom: 2px solid #23434B
    }
}

.selection {
    color: rgb(68, 73, 69);
    background-color: rgb(248, 249, 248);
    text-align: left;
    display: inline-block;
    padding: 4px 10px;
    border-radius: 5px;
    cursor: -webkit-grab;
    width: 200px;
    height: 30px;
    margin: 15px;
    animation: none;
}


.ui-draggable-dragging {
    animation: expand .4s forwards;
    border-radius: 0px 5px 5px 0px
}


.selection:active {
    cursor: -webkit-grabbing
}

.mobile-img-cont {
    display: none
}

@media screen and (max-width: 600px) {

    .mobile-img-cont {
        display: block;
        position: absolute;
        z-index: 2;
        bottom: 0;
        left: 0
    }

    .mobile-img {
        width: 60vw;
        position: absolute;
        bottom: 0;
        left: 0
    }

    .mobile-qoute {
        display: block;
        position: absolute;
        left: 27vw;
        bottom: -1vh;
        background-image: url('./../media/images/speech-bubble-2.png');
        padding: 15vw;
        padding-left: 15vw;
        padding-right: 17vw;
        height: 40vh;
        width: 80vw;
        z-index: 0;
        color: white;
        background-size: 90%;
        background-position: left middle;
        background-repeat: no-repeat;
        text-align: center;
        vertical-align: middle;
        
        font-size: 3vw;
        letter-spacing: .2vw;
        text-align: justify;
        font-family: 'Oswald'
    }

    .name {
        font-style: italic;
        font-size: 3.5vw;
        margin-left: 17vw;
        font-family: 'Oswald';
        color: white;
    }

    .qoute-cont {
        opacity: 0;
    }

    .qoute-cont-animate {
        animation: qoute 1s forwards .6s;
    }

    .img-slide {
        animation: slide .8s forwards
    }

    @keyframes slide {
        0% {
            left: 0
        }
        100% {
            left: -100vh
        }
    }

    @keyframes qoute {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    @keyframes bg-animate {
        0%, 100% {
            background-size: 90%;
            letter-spacing: .2vw;
            left: 27vw;
        }
        50% {
            background-size: 91%;
            letter-spacing: .205vw;
            left: 26.5vw
        }
    }

    .front-text {
        width: 60vw;
        font-size: 4vw;
        text-align: left;

    }  
    #front-title, .bg-text-center {
        font-size: 6vw;
        margin-top: 5vh;
        padding: 15vh 0px;
        background-size: 20vh;
        width: 80vw;
        margin-left: 6.5vw;
        margin-top: 25vh
    }
    #page-one-link, .button-link {
        margin-top: 4vh;
        font-size: .5em
    }
    .content-cont {
        margin: 2vh 18vw 0vh 2vw;
        text-align: justify
    }

    .answer-box, .options {
        height: 40vh;
    }

    .answer-box {
        margin-top: 1vw
    }

    .pg-title {
        font-size: 4.5vw;
        text-align: left
    }

    .body-text {
        font-size: 4vw
    }
    
    .content-cont {
        margin-left: 10vw
    }

    .button-link {
        width: 15vw;
        margin-left: 30vw
    }

    .selection {
        width: 30vw;
        font-size: .5em;
        padding: 1vw 2vw;
        height: 20px    
    }

    .title {

    }

    .ui-draggable-dragging {
        animation: mobileSelection .5s forwards
    }

    @keyframes mobileSelection {
        0% {
            width: 30vw;
            height: 20px;

        } 
        100% {
            width: 34vw;
            height: 22px;
        }
    }

    .pop-cont {
        display: none
    }
}