* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
    color: rgb(38, 41, 38);
}

body {
    overflow: hidden;
}

section {
    height: 100vh;
    width: 100vw;
    background-color: white
}

#front-title {
    text-align: center;
    font-size: 40px;
    margin-top: 30vh
}


#page-one-link {
    display: inline-block;
    text-decoration: none;
    padding: 4px 8px;
    box-shadow: 0px 0px 2px rgb(201, 200, 200);
    border-radius: 5px;
    margin-top: 20vh;
    background-color: rgba(255, 255, 255, .8);
    opacity: 0;
}

#page-one-link:hover {
    background-color: rgba(255, 255, 255, 1)
}

@keyframes button {
    0% {
        opacity: 1;
        background-color: rgba(255, 255, 255, .8)
    } 
    100% {
        opacity: 1;
        background-color: rgba(255, 255, 255, 1)
    }
}

.fa-angle-down {
    color: rgba(0, 0, 0, 0.933);
    text-shadow: 0px 0px 2px gray;
    margin-top: 4px;
    animation: bounce 1s infinite;
}

#animation-cont {
    opacity: 0;
}

@keyframes bounce {
    0%,100% {
        margin-top: 4px
    } 
    50% {
        margin-top: 10px
    }
}

.front-text {
    width: 40vw;
    margin: 15px;
    display: inline-block;
    text-align: justify
}

.fade-in {
    animation: in 2s forwards 3.5s;
    z-index: 5000;
}

@keyframes in {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}


#nav {
    position: fixed;
    right: 5vw;
    top: 10vw;
    width: 30px;
    height: 500px;
    border-radius: 15px;
    box-shadow: 0px 0px 3px gray;
    text-align: center;
    background-color: white;
    padding-top: 10px
}

.page {
    display: inline-block;
    margin: 2px 8px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(211, 209, 209);
}

.current-page {
    animation: page 1s forwards
}

.alert {
    display: none;
    color: red;
    padding: 2px 6px;
    border-radius: 5px
}

.display {
    display: inline-block;
}

@keyframes page {
    0% {
        background-color: rgb(211, 209, 209)
    }
    100% {
        background-color: black
    }
}

.line {
    width: 2px;
    height: 50px;
    display: inline-block;
    background-color: rgb(211, 209, 209);
}

#home {
    background:
        linear-gradient(
            rgba(255, 255, 255, 1),
            rgba(255, 255, 255, .4)
        ), 
        url(http://i.imgur.com/U5mPJhT.gif) no-repeat center center;
    background-size: cover;
    text-align: center;
    position: relative;
}

section:nth-child(2) {
    background-color: rgb(221, 221, 221);
}

.next {
    cursor: pointer;
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 2px 6px;
    border-radius: 5px;
}

.answer-box, .options {
    width: 70vw;
    height: 20vh;
    border: 1px solid black;
    border-radius: 5px;
    margin: 30px;
    margin-left:10vw
}

.options {
    border: none;
    border-radius: 5px;
    border: 1px dashed gray
}

.title {
    display: inline-block;
    width: 90%
}

.highlight { 
    animation: shadow .2s forwards;
    border: 1px solid rgb(4, 28, 4)
}

@keyframes expand {
    0% {
        width: 200px;
        height: 30px;
        padding-top: 4px;
        }
    50% {
        width: 220px;
        height: 35px;
        padding-top: 5px;
    }
    100% {
        width: 210px;
        height: 32px;
        border-left: 3px solid purple;
    }
}

@keyframes shadow {
    0% {
        box-shadow: 0px 0px 0px rgb(126, 128, 126); 
    } 
    100% {
        box-shadow: 0px 0px 8px rgb(126, 128, 126);
        border-bottom: 2px solid black
    }
}

.selection {
    color: rgb(68, 73, 69);
    background-color: rgb(248, 249, 248);
    text-align: left;
    display: inline-block;
    padding: 4px 10px;
    border-radius: 5px;
    cursor: -webkit-grab;
    width: 200px;
    height: 30px;
    margin: 15px;
    animation: none;
}


.ui-draggable-dragging {
    animation: expand .4s forwards;
    border-radius: 0px 5px 5px 0px
}


.selection:active {
    cursor: -webkit-grabbing
}