* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
    color: rgb(38, 41, 38);
}

body {
    overflow: hidden;
}

section {
    height: 100vh;
    background-color: white
}

section:nth-child(2) {
    background-color: rgb(221, 221, 221);
}

.answer-box, .options {
    width: 80vw;
    height: 20vh;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin: 30px;
}

.highlight { 
    animation: shadow .2s forwards;
    border: 1px solid rgb(4, 28, 4)
}

@keyframes shadow {
    0% {
        box-shadow: 0px 0px 0px rgb(126, 128, 126); 
    } 
    100% {
        box-shadow: 0px 0px 8px rgb(126, 128, 126);
    }
}

.selection {
    color: rgb(68, 73, 69);
    text-align: center;
    display: inline-block;
    padding: 4px;
    border: 1px solid rgb(74, 75, 77);
    border-radius: 5px;
    cursor: -webkit-grab;
    width: 100px;
    height: 30px;
    margin: 15px;
    animation: none;
}

.selection:active {
    cursor: -webkit-grabbing
}